*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    width: 60%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: rgb(119, 204, 238);
}

.titolo{
    text-align: center;
    margin: 20px;
    color: rgb(218, 70, 119);
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
}

.lorem{
    text-align: center;
    margin: 15px;
    font-size: larger;
}

.fleft{
    float: left;
}

.etichetta
{
    width: calc(33% - 40px);
    height: 100px;
    background-color: rgb(10, 10, 56);
    color: white;
    margin: 20px;
    box-shadow: 2px 2px 4px black;
    overflow: auto;
}

img{
    height: 100%;
}

.font{
    font-size: 15px;
}

.nome{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
}

.testo{
    height: 100%;
    line-height: 25px;
    padding: 10px;
    display: inline-block;
}